In [ ]:
print("tablas de multiplicar")
numero = int(input('digitar un numero entero owo:'))
for i in range(0,11):
  print(f'{i} x {numero}= {i * numero}')

tablas de multiplicar
digitar un numero entero owo:3
0 x 3= 0
1 x 3= 3
2 x 3= 6
3 x 3= 9
4 x 3= 12
5 x 3= 15
6 x 3= 18
7 x 3= 21
8 x 3= 24
9 x 3= 27
10 x 3= 30